.container {
    margin: auto;
    width: 50%;
    border: 3px solid #090909;
    padding: 10px;
    background-color: rgb(229, 253, 185);
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
  }
  
  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  label {
    font-size: 24px;
    font-weight: bold;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  