/* Reset Styles */
html, body, header, nav, main, section, article, aside, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100rem;
	font: inherit;
	vertical-align: baseline;
}

/* Global Styles */
body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
  color: #333;
	line-height: 1.5;
  
}

header {
	background-color: #060606;
	padding: 20rem;
  text-align: center;
}

h1 {
	color: #FFFFFF;
	font-size: 36rem;
	margin: 0;
}

/* nav ul { */
	/* list-style-type: none; */
	/* margin:0;
	padding: 0; */
    /* width: 100%;
    height:120px;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 3%;
    display: inline-block;
    margin-right: 30px; */
    
/* } */
/* nav ul:last-child {
    margin-right: 0;
  }
   */
   nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  nav li {
    display: inline-block;
    margin-right: 180rem; /* adjust the value to your desired spacing */
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    display: block;
    padding: 10rem;
    text-decoration: none;
    color: #ffffff;
  }
  
  nav a:hover {
    background-color: #f9f7f7;
    color: #0f3f9e;
  }
  @media(max-width:768rem){
	  html{
		  font-size: 45%;
	  }
}
    
  
